header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: var(--secondary-color);
    color: #ffff;
    padding: 1rem;
}

.logo-box img {
    width: 150px;
}

:root {
    --primary-color: #004e64;
    --secondary-color: #146c43;
    --accent: #ffb703;
    --text: #222;
    --body-font: Arial, sans-serif;
    --heading-font: 'Helvetica Neue', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--text);
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6;

}

.map iframe {
    border: none;
    width: 100%;
    height: 300px;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
    background: #004466;
    color: white;
    text-align: center;
    padding: 1em;
}

header nav {
    display: flex;
    justify-content: flex-end;
    gap: 32px;
}

header img {
    width: 120px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

p {
    color: white;
}

header p,
footer p {
    color: #ffffff;
}

.history-content {
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    gap: 1rem;
    align-items: center;
}

h1 {
    color: white;
}

h2 {
    font-family: var(--heading-font);
    color: white;
}

article p {
    color: var(--text);
}

section,
article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--accent);
    color: #000000;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 16px;
    max-width: 400px;
    color: #222;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 12px;
    border: 2px solid var(--primary-color);

}

.grid,
.trips-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
    padding: 1em;
}

.grid img,
.trips-grid img {
    width: 100%;
    height: auto;
}

.cta {
    text-align: center;
    margin: 2em 0;
}

.btn {
    background: #004466;
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1em 0;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 0.5em;
    text-align: center;
}

.adventure-gallery {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.adventure-gallery img {
    width: 100%;
    max-width: 180px;
}

figure {
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    color: white;
    padding: 1rem;
    margin-top: 24px;
}

.socialmedia {
    display: flex;
    gap: 1rem;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 32px;
    margin: 0 6px;
}