nav {
    background-color: steelblue;
    padding: 12px;
}

nav a {
    color: white;
    padding: 1rem;
    display: block;
}

main {
    max-width: 840px;
    margin: auto;
}

h1 {
    color: steelblue;
}

p {
    padding: 0;
}

main img {
    width: 100px;
    height: auto;
    padding: 30px;
    border: 30px solid green;
    box-shadow: 0030px gray;
}

aside {
    width: 20cm;
    margin: 1cm;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1cm;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1cm;
    border-top: 1px solid#600;
    text-align: center;
}