nav a {
    color: white;
    padding: 10px;
    display: block;
}

h1 {
    color: steelblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0030px gray;
}

aside {
    width: 20cm;
    margin: 1cm;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1cm;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1cm;
    border-top: 1px solid#600;
    text-align: center;
}